.board_write {
  background-color: var(--bg-color);
  display: flex;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.board_write .write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 580px;
}

.board_write .write span {
  font-size: 18px;
}

.board_write .write #chooseFile#file-upload-button {
  /* width: 580px; */
  display: none;
}

.board_write .write #content {
  min-height: 50px;
  display: flex;
}