.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  height: 80px;
  top: 0;
  left: 0;
  /* box-shadow: 0px 3px 9px 0px rgb(0 0 0 / 13%); */
}

.header img {
  padding-left: 30px;
}

.header .quick {
  padding-right: 20px;
}
