.main {
  background-color: var(--bg-color);
  display: flex;
  padding-top: 80px;
  justify-content: center;
}

.main .cards {
  padding-top: 1.5rem;
}

.main .cards .card {
  background-color: white;
  max-width: 580px;
  width: 580px;
  max-height: 530px;
  /* height: auto; */
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
  box-shadow: 6px 7px 0px 0px rgb(0 0 0 / 9%);
}

.main .cards .card .card_header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.main .cards .card .card_header .card_header_left {
  height: 70px;
  display: flex;
  align-items: center;
}

.main .cards .card .card_header .card_header_right .more_view {
  font-size: 30px;
  color: gray
}

.main .cards .card .card_header .user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .cards .card .card_header .user_info #time {
  color: gray;
  font-size: 12px;
}

.main .cards .card .card_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  /* border: 2px solid var(--primary) */
}

.main .cards .card .card_contents {
  height: 360px;
  background-color: var(--bg-color);
}

.main .cards .card .card_footer {
  height: 100px;
}