.my_page {
    background-color: var(--bg-color);
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my_page .my_contents {
    max-width: 900px;
}

.my_page .my_info .profile {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.my_page .my_info .profile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_page .my_info .profile .follow {
    display: flex;
}

.my_page .my_info .profile .follow div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my_page .my_info .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    flex-wrap: wrap;
}

.my_page .my_info .profile .info .account_setting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.my_page .my_info .profile .info .account_setting img {
    width: 30px;
    height: 30px;
    border-radius: 0;
    border-style: none;
    margin-left: 30px;
}

.my_page .my_posts {
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.my_page .my_posts img{
    width: 280px;
    height: 280px;
    flex-wrap: wrap;
    border: 1px solid var(--border-color);
}